.headerContainer {
  height: 70px;
  background-color: #0e1161;
  border-radius: 10px;
  padding: 10px;
}

.headerNavigate {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerGenres {
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkorange;
}
a {
  text-decoration: none;
  padding: 0 25px;
  color: snow;
}
