.headerContainer {
  background-color: #0e1161;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
}

.headerNavigate {
  display: flex;
  justify-content: center;
}
.headerGenres {
  display: flex;
  justify-content: center;
  color: aqua;
}
a {
  text-decoration: none;
  padding: 0 25px;
  color: snow;
}
.active {
  color: red;
}
