.blocksFlex {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.topBlocksFlex {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  /*border: #0e1161 solid 1px;*/
}

.moviesPage {
  text-align: center;
}
